@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables";

// ============================================================
// Variables
// ============================================================

// @ global brand color
// ------------------------------------------------------------

$brand-primary          :  #8CCE4A;
$brand-success          :  #7C9E36;
$brand-info             :  #4A90B9;
$brand-warning          :  #ed9a25;
$brand-error            :  #D51313;
$brand-disable          :  #9E9E9E;

// @ global brand color
// ------------------------------------------------------------

$brand-main             :  #8CCE4A;
$brand-main-darker      :  #79A849;
$brand-main-darken      :  #79A849;
$brand-main-lighter     :  #DCF0C8;
$brand-main-lighten     :  #DCF0C8;

$brand-secondary        :  #81D1E8;
$brand-accent01         :  #FFC400;
$brand-accent02         :  #AB86DE;

// @ Scaffolding
// ------------------------------------------------------------

$text-color             :  #212121;
$text-color-sub         :  #757575;
$text-color-placeholder :  #BCBCBC;
$text-color-disable     :  $brand-disable;
$text-color-white       :  #fff;
$border-color-base      :  #DEDEDE;

// link color
// ------------------------------------------------------------
$link-color             :  #00A3EB;
$hover-bg               :  #00A3EB;

// ============================================================
//  @Typography
// ============================================================

$font-family-gothic      :  'Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','ヒラギノ角ゴシック','Hiragino Sans','segoe ui','メイリオ', Meiryo,YuGothic,'Yu Gothic',-apple-system, BlinkMacSystemFont,sans-serif;
$font-family-monospace   :  Menlo, Monaco, Consolas, "Courier New", monospace;
$font-family-kakugostd   :  'ヒラギノ角ゴ Std W3','Hiragino Kaku Gothic Std', sans-serif;
$font-family-notoserif   :  'Noto Serif Japanese', sans-serif;
$font-family-opensans    :  'Open Sans', sans-serif;
$font-family-sawarabi    :  'Sawarabi Mincho', sans-serif;

// @ ベースフォント指定
$font-family-base        :  $font-family-gothic;

$font-size-base          :  14px;
$font-size-base-tab      :  15px;
$font-size-base-sp      :  15px;

$font-size-large         :  ceil(($font-size-base * 1.25)); // ~18px
$font-size-small         :  ceil(($font-size-base * 0.85)); // ~12px

$font-size-h1            :  floor(($font-size-base * 2.6)); // ~36px
$font-size-h2            :  floor(($font-size-base * 2.15)); // ~30px
$font-size-h3            :  ceil(($font-size-base * 1.7)); // ~24px
$font-size-h4            :  ceil(($font-size-base * 1.25)); // ~18px
$font-size-h5            :  $font-size-base;
$font-size-h6            :  ceil(($font-size-base * 0.85)); // ~12px

// ============================================================
// line height
// ============================================================
$line-height-base        :  1.7;
$line-height-heading     :  1.5;

// ============================================================
// @ Tables
// ============================================================

$table-cell-padding      :  8px;
$table-condensed-cell-padding:  5px;
$table-bg                :  transparent;
$table-bg-accent         :  #f9f9f9;
$table-bg-hover          :  #f5f5f5;
$table-bg-active         :  $table-bg-hover;
$table-border-color      :  #ddd;

// ============================================================ //
// @ Forms
// ============================================================ //

$input-bg                :  #fff;
$input-hover-bg          :  #f4f4f4;
$input-bg-disabled       :  $gray-lighter;
$input-pad               :  .4em .6em .4em;
$input-pad-sm            :  .8em .6em;
$input-color             :  $text-color;
$input-border            :  #ccc;

// ============================================================ //
// @ Z-index master list
// ============================================================ //

$zindex-slider           :  500;
$zindex-header           :  1000;
$zindex-dropdown         :  1000;
$zindex-popover          :  1060;
$zindex-tooltip          :  1070;
$zindex-navbar-fixed     :  1030;
$zindex-nav-menu         :  1033;
$zindex-navbar-torigger  :  1035;
$zindex-modal-background :  1040;
$zindex-modal            :  1050;

// ============================================================ //
// @ Media queries breakpoints
// ============================================================ //

// Extra small screen / phoneSE
$screen-xs               :  320px;
$screen-xs-min           :  $screen-xs;

// Small Mid Small screen / Iphone
$screen-msm               :  375px;
$screen-msm-min           :  $screen-sm;

// Small screen / Iphone Plus
$screen-sm               :  414px;
$screen-sm-min           :  $screen-sm;

// iphone5 land
$screen-5ls              :  568px;

// iphone6 land
$screen-6ls              :  667px;

// Medium screen
$screen-md               :  769px;
$screen-md-min           :  $screen-sm + 1;
$screen-desktop          :  $screen-md-min;

// Small large screen
$screen-slg               :  980px;
$screen-slg-min           :  $screen-md + 1;

// Mid large screen
$screen-mlg               :  1024px;
$screen-mlg-min           :  $screen-slg + 1;

// Large screen
$screen-lg               :   1180px;
$screen-lg-min           :   $screen-mlg + 1;

// Xlarge screen
$screen-xlg               :   1980px;
$screen-xlg-min           :   $screen-lg + 1;

// ============================================================ //
// @ Container sizes
// ============================================================ //

//## Define the maximum width of `.container` for different screen sizes.

$container-padding-lg    : 30px;
$container-padding-md    : 3%;
$container-padding-sm    : 15px;

// Small screen / tablet
$container-tablet        : ($screen-md + $grid-gutter-width);
//** For `$screen-sm-min` and up.
$container-sm            : 100%;

// Medium screen / desktop
$container-desktop       : ($screen-lg + $grid-gutter-width);
//** For `$screen-md-min` and up.
$container-md            : 100%;

// Large screen / wide desktop
$container-large-desktop : ($screen-lg + $grid-gutter-width);
//** For `$screen-lg-min` and up.
$container-lg            : $screen-lg + ($container-padding-lg *2);


// ============================================================ //
// @ transition & hover opacity
// ============================================================ //

$hover-transition        :  .3s;
$hover-opacity           :  .7;
