/* ============================================================ //
// @ layout container
// ============================================================ */

// @ wrapper
// ------------------------------------------------------------

.wrapper {
  width: 100%;
  min-width: $container-lg;

  @include max-media($screen-md) {
    min-width: 100%;
  }
}

.wrapper__inner {
  margin: 0 auto;
  width: 100%;
  max-width: $container-lg;
  min-width: $container-lg;
  padding: 50px $container-padding-lg 0;
  @include max-media($screen-md) {
    max-width: 100%;
    min-width: 100%;
    padding: 0 $container-padding-md;
  }
  @include max-media($screen-sm) {
    padding: 0 $container-padding-sm;
  }
}

// @ block container
// ------------------------------------------------------------ */

.block-container {
  margin: 0;
  display: flex;
  flex-flow: row wrap;

  @include max-media($screen-md) {
    padding-top: 50px;
  }
}

.block-main {
  width: 870px;
  margin: 0 30px 100px 0;

  @include max-media($screen-md) {
    margin: 0 0 100px;
    width: 100%;
  }
}

.block-sidebar {
  width: 280px;
  margin: 0 0 100px;

  @include max-media($screen-md) {
    margin: 0;
    width: 100%;
  }
}

// @ entry-container
// ------------------------------------------------------------ //

.entry-container {
  > *:first-child {
    margin-top: 0;
  }
}

// @ entry-container
// ------------------------------------------------------------ //

.page-container {
  > *:first-child {
    margin-top: 0;
  }
}

// @ section-unit
// ------------------------------------------------------------ //

.section-unit {
  margin: 0 0 150px;

  > *:first-child {
    margin-top: 0;
  }
}



