/* ============================================================ //
// @ blockquote
// ============================================================ */

$img_path: "./../../assets/img/";
$svg_path: "./../../assets/svg/";

@mixin blockquote {
  padding: 32px 58px;
  position: relative;
  border: none;
  background: $brand-main-lighten;
  width: calc(100% - #{$acms-grid-g} * 2);

  &:before{
    content: url("#{$svg_path}/blockquoto-item.svg");
    position: absolute;
    top: 16px;
    left: 16px;
  }

  &:after{
    content: url("#{$svg_path}/blockquoto-item.svg");
    transform: rotate(180deg);;
    position: absolute;
    bottom: 16px;
    right: 16px;
  }

  p{
    margin: 0;
  }
}

//.blockquote {
//  @include blockquote;
//}
//
//.entry-container {
//  blockquote {
//    @include blockquote;
//  }
//}