/* ============================================================ //
// @ button
// ============================================================ */

$img_path: "./../../assets/img/";

/*doc
---
title: btn
name: btn
category: btn
---


```block

<div class="btn-group">
  <a class="btn btn01" href="#">main</a>
  <a class="btn btn01--primary" href="#">primary</a>
  <a class="btn btn01--success" href="#">success</a>
  <a class="btn btn01--warning" href="#">warning</a>
  <a class="btn btn01--error" href="#">error</a>
  <a class="btn btn01--disable" href="#">disable</a>
</div>

<div class="btn-group--left">
  <a class="btn btn01--primary" href="#">primary</a>
  <a class="btn btn01--success" href="#">success</a>
  <a class="btn btn01--warning" href="#">warning</a>
</div>

<div class="btn-group--center">
  <a class="btn btn01--primary" href="#">primary</a>
  <a class="btn btn01--success" href="#">success</a>
  <a class="btn btn01--warning" href="#">warning</a>
</div>

<div class="btn-group--right">
  <a class="btn btn01--primary" href="#">primary</a>
  <a class="btn btn01--success" href="#">success</a>
  <a class="btn btn01--warning" href="#">warning</a>
</div>


```

*/

// @ btn-group
// ------------------------------------------------------------

.btn-group {
  display: flex;
  -js-display: flex;
  flex-flow: row wrap;


  &--left {
    display: flex;
    -js-display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;

  }
  &--center {
    display: flex;
    -js-display: flex;
    flex-flow: row wrap;
    justify-content: center;

  }
  &--right {
    display: flex;
    -js-display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;

  }
}

// @ btn
// ------------------------------------------------------------ */

@mixin btn-reset {
  -webkit-box-sizing: content-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-sizing: border-box;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
}
