/* ============================================================ //
// @ button
// ============================================================ */

$img_path: "./../../assets/img/";

// @ btn-group
// ------------------------------------------------------------

.btn-group{
  &--left{
    display: flex;
    -js-display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
  }
  &--center{
    display: flex;
    -js-display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  &--right{
    display: flex;
    -js-display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
  }
}

.btn{
  display: inline-block;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
  text-decoration: none;
}

@mixin btn01($color,$hoverColor){
  position: relative;
  overflow:hidden;
  z-index: 2;
  //
  transition: .3s;
  text-transform: uppercase;
  //
  background: transparent;
  border: solid 2px $color;
  border-radius: 5px;
  padding: 12px 18px 13px;
  line-height: 1;
  text-align: center;
  //
  font-size: .93333333em;
  color: $color;

  &:after {
    position: absolute;
    z-index: -1;
    left: -150%;
    bottom: 0;
    //
    transition: .3s;
    transform: skewX(15deg);
    //
    content: '';
    width: 120%;
    height: 120%;
    //
    background: $color;
  }

  &:hover{
    color: $hoverColor;
    &:after{
      left: -10%;
      width: 120%;
    }
  }
}

.btn01{
  &--white{
    @include btn01(#fff,$brand-main);
  }
}
