/* ============================================================ //
// @ entry
// ============================================================ */

$img_path: "./../../assets/img/";

/*doc
---
title: entry-title
name: entry-title
category: entry-tit
---


```block

<div class="alert alert--primary">
    <p class="alert__text">情に棹させば流される。智に働けば角が立つ。どこへ越しても住みにくいと悟った</p>
  </div>
  <div class="alert alert--success">
    <p class="alert__text">情に棹させば流される。智に働けば角が立つ。どこへ越しても住みにくいと悟った</p>
  </div>
  <div class="alert alert--warning">
    <p class="alert__text">情に棹させば流される。智に働けば角が立つ。どこへ越しても住みにくいと悟った</p>
  </div>
  <div class="alert alert--error">
    <p class="alert__text">情に棹させば流される。智に働けば角が立つ。どこへ越しても住みにくいと悟った</p>
  </div>
</div>

```

*/

.entry-date{
  margin: 0 0 2px;
  padding: 0;
  line-height: 1;
  font-size: 15px;
  font-weight: 600;
}

.entry-title{
  margin: 0 0 40px;
  padding: 0 0 7px;
  border-bottom: 3px #073D88 solid;
  font-size: 26px;
  font-weight: 600;
}

.entry-thumb{
  margin: 0 0 30px;
}


