/* ============================================================ //
// @ grid
// ============================================================ */

$img_path: "./../../assets/img/";

$grid-gutter:20px;

.grid-group{
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
}



.grid-group{

  // レスポンシブグリッド（タブレットから1列）
  // ------------------------------------------------------------

  &.grid-group-col2.is-responsive .grid-item{
    width: calc(50% - (#{$grid-gutter} / 2 ));
    margin: 0 $grid-gutter $grid-gutter 0;
    @include max-media($screen-md){
      width: 100%;
      margin-right: 0;
      margin-bottom: $grid-gutter;
    }
    &:nth-child(2n){
      margin-right: 0;
    }
  }
  &.grid-group-col3.is-responsive .grid-item{
    width: calc(33.333% - (#{$grid-gutter} * 2 / 3));
    margin: 0 $grid-gutter $grid-gutter 0;
    @include max-media($screen-md){
      width: 100%;
      margin-right: 0;
      margin-bottom: $grid-gutter;
    }
    &:nth-child(3n){
      margin-right: 0;
    }
  }
  &.grid-group-col4.is-responsive .grid-item{
    width: calc(25% - (#{$grid-gutter} * 3 / 4));
    margin: 0 $grid-gutter $grid-gutter 0;
    @include max-media($screen-md){
      width: 100%;
      margin-right: 0;
      margin-bottom: $grid-gutter;
    }
    &:nth-child(4n){
      margin-right: 0;
    }
  }


  // レスポンシブグリッド（スマートフォンから1列）
  // ------------------------------------------------------------

  &.grid-group-col2.is-responsive-sm .grid-item{
    width: calc(50% - (#{$grid-gutter} / 2 ));
    margin: 0 $grid-gutter $grid-gutter 0;
    @include max-media($screen-sm){
      width: 100%;
      margin-right: 0;
      margin-bottom: $grid-gutter;
    }
    &:nth-child(2n){
      margin-right: 0;
    }
  }
  &.grid-group-col3.is-responsive-sm .grid-item{
    width: calc(33.333% - (#{$grid-gutter} * 2 / 3));
    margin: 0 $grid-gutter $grid-gutter 0;
    @include max-media($screen-sm){
      width: 100%;
      margin-right: 0;
      margin-bottom: $grid-gutter;
    }
    &:nth-child(3n){
      margin-right: 0;
    }
  }
  &.grid-group-col4.is-responsive-sm .grid-item{
    width: calc(25% - (#{$grid-gutter} * 3 / 4));
    margin: 0 $grid-gutter $grid-gutter 0;
    @include max-media($screen-sm){
      width: 100%;
      margin-right: 0;
      margin-bottom: $grid-gutter;
    }
    &:nth-child(4n){
      margin-right: 0;
    }
  }

  // 固定グリッド
  // ------------------------------------------------------------

  &.grid-group-col2 .grid-item{
    width: calc(50% - (#{$grid-gutter} / 2 ));
    margin: 0 $grid-gutter $grid-gutter 0;
    &:nth-child(2n){
      margin-right: 0;
    }
  }
  &.grid-group-col3 .grid-item{
    width: calc(33.333% - (#{$grid-gutter} * 2 / 3));
    margin: 0 $grid-gutter $grid-gutter 0;
    &:nth-child(3n){
      margin-right: 0;
    }
  }
  &.grid-group-col4 .grid-item{
    width: calc(25% - (#{$grid-gutter} * 3 / 4));
    margin: 0 $grid-gutter $grid-gutter 0;
    &:nth-child(4n){
      margin-right: 0;
    }
  }


}