/*--------------------------------------------------------------//
// @ headline
// ------------------------------------------------------------ */

$img_path: "./../../assets/img/";


// @ entry-headline
// ------------------------------------------------------------ */

.entry-headline-group{
  margin-bottom: 35px;
  @include max-media($screen-sm){
    margin-bottom: 20px;
  }
}

.entry-headline-item {
  width: 100%;
  display: block;
  border-bottom: 1px #CCCCCC solid;

  // インナー部分
  // -------------------

  &__inner {
    position: relative;
    //
    display: flex;
    -js-display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    //
    width: 100%;
    padding: 20px 18px;

    @include max-media($screen-sm){
      display: block;
      @include clearfix();
      padding: 15px 5px;
    }

    &:before {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translate(0, -50%);
      line-height: 1;
      font-family: 'Material Icons';
      content: "keyboard_arrow_right";
      color: $brand-main;
      font-size: 24px;
      vertical-align: middle;
      @include transition-delay();

      @include max-media($screen-sm) {
        transform: translate(5px,5px);
      }
    }

    &:hover::before {
      right: -10px;
      color: $link-color-header;
    }

  }

  // 内部要素
  // ------------------------------------------------------------

  // 日付部分
  // -------------------

  $date-width-pc : 100px;

  &__date {
    width: $date-width-pc;
    max-width: $date-width-pc;
    font-size: 14px;

    @include max-media($screen-sm) {
      float: left;
      width: $date-width-pc;
      max-width: $date-width-pc;
    }

  }

  // ラベル部分
  // -------------------

  $label-width-pc : 65px;
  $label-margin-right-pc : 15px;

  &__label{
    position: relative;
    top: -1px;
    display: block;
    width: $label-width-pc;
    max-width: $label-width-pc;
    margin-right: $label-margin-right-pc;
    font-size: 11px;

    @include max-media($screen-sm){
      display: block;
      float: left;
      font-size: 10px;
    }

    a{
      display: block;
      width: 100%;
      background: $brand-main;
      border-radius: 3px;
      padding: 5px 5px;
      line-height: 1.2;
      text-align: center;
      color: #fff;
      transition: all $hover-transition ease;
      &:active,
      &:link,
      &:visited,
      &:focus,
      &:hover{
        text-decoration: none;
        color: #fff;
      }
      &:hover{
        background: $link-hover-color;
      }
    }
  }

  // タイトル部分
  // -------------------

  &__title {

    width: calc(100% - (#{$date-width-pc} + #{$label-width-pc} + #{$label-margin-right-pc}));
    max-width: calc(100% - (#{$date-width-pc} + #{$label-width-pc} + #{$label-margin-right-pc}));
    font-size: 16px;

    @include max-media($screen-sm) {
      width: 100%;
      max-width: 100%;
      display: block;
      padding-top: 5px;
      clear: both;
    }

    a{
      display: block;
      width: 100%;
      max-width: 100%;
      transition: all $hover-transition ease;
      @include text-overflow();
      &:active,
      &:link,
      &:visited,
      &:focus,
      &:hover{
        color: $text-color;
        text-decoration: underline;
      }
      @include text-overflow();
      &:hover{
        color: $link-hover-color;
      }
    }

  }
}

// ボタン要素
// -------------------

.entry-headline-btn-unit {
  display: flex;
  -js-display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
