/*--------------------------------------------------------------//
// @ list
// ------------------------------------------------------------ */

$img_path: "./../../assets/img/";

// list01
// ------------------------------------------------------------

$list01-bd-size:8px;

@mixin list01{
  margin: 3em 0;
  list-style-type: none;

  .list01{
    margin: 1em 0;
  }

  @include max-media($screen-sm) {
    margin: 1em 0;
  }

  li{
    position: relative;
    padding: .2em .8em .2em .3em;
  }
  li:before{
    position: absolute;
    top: 12px;
    left: -.7em;
    transform : translate(0%,0%);
    //
    display: block;
    content: '';
    width: $list01-bd-size;
    height: $list01-bd-size;
    background: $brand-main;
    border-radius: $list01-bd-size;
  }
}


.list01 {
  @include list01;
  .entry-container &{
    @include list01;
  }
}

.entry-container {
  ul{
    @include list01;
  }
}



// list_num
// ------------------------------------------------------------

@mixin list_num{
  counter-reset: item;
  margin: 3em 0;
  list-style-type: none;
  .list_num{
    margin: 1em 0;
  }
  li{
    position: relative;
    padding: .2em .8em .2em .3em;
  }
  li:before{
    position: absolute;
    top: 4px;
    left: -1em;
    transform : translate(0%,0%);
    //
    display: block;
    counter-increment: item;
    content: counter(item)'.';
    font-weight: bold;
    color: $brand-main;
  }
}

.list_num{
  @include list_num;
}

.entry-container{
  ol{
    @include list_num;
  }
}

// dl01
// ------------------------------------------------------------

@mixin dl01{
  margin: 3em 0;
  dt {
    clear: left;
    float: left;
    width: 20%;
    font-weight: bold;
    color: $brand-main;
    margin: 0;
    @include max-media($screen-sm){
      width: 100%;
      margin-bottom: 1em;
    }
  }
  dd + dt,
  dd + dt + dd{
    margin-top: 20px;
    @include max-media($screen-md){
      margin-top: 15px;
    }
  }

  dd {
    position: relative;
    width: 80%;
    margin-left: auto;
    padding:  0 0 0 100px;
    @include max-media($screen-md){
      padding:  0 0 0 70px;
    }
    @include max-media($screen-sm){
      width: 100%;
      padding: 0;
    }
  }
  dt + dd:before {
    position: absolute;
    top: 50%;
    left: 20px;
    transform : translate(0%,-50%);
    //
    display: block;
    content: '';
    width: 50px;
    height: 1px;
    background: #ccc;
    @include max-media($screen-md){
      width: 30px;
      left: 10px;
    }
    @include max-media($screen-sm){
      display: none;
    }
  }
}

.dl01{
  @include dl01;
}

.entry-container{
  dl{
    @include dl01;
  }
}