/* ============================================================ //
// @ slider
// ============================================================ */

$img_path: "./../../assets/img/";

.main-slider,
.js-slider-pro{
  position: relative;
  width: 100%;
  min-width: $container-lg;
  background: #000;
  //

  @include max-media($screen-md) {
    min-width: 100%;
  }
}

.js-main-slider {
  transition: all $hover-transition ease;
  &.is-load {
    opacity: 0;
    height: 550px; //index.js参照
  }
}

// @ sp-content
// ------------------------------------------------------------ */

.sp-content {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

// @ title
// ------------------------------------------------------------ */

.sp-content-title {
  background: rgba(0, 54, 93, .7);
  &__inner {
    margin: 0 auto;
    width: 100%;
    max-width: $container-lg;
    padding: 15px $container-padding-lg;
    @include max-media($screen-6ls){
      padding: 15px 10px;
    }
  }

  &__text {
    margin: 0;
    padding: 0;
    color: #DBDB08;
    font-size: 20px;
    font-weight: 600;
    @include max-media($screen-md){
      font-size: 18px;
      line-height: 1.2;
    }
    @include max-media($screen-6ls){
      font-size: 15px;
    }
  }
}

// @ info
// ------------------------------------------------------------ */

.sp-content-info {
  background: rgba(0, 0, 0, .7);;
  color: #fff;

  &__inner {
    margin: 0 auto;
    width: 100%;
    max-width: $container-lg;
    padding: 15px $container-padding-lg;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;

    @include max-media($screen-6ls){
      padding: 15px;
    }
  }


}

.sp-content-year {

  &__text {
    margin: 0;
    padding: 0;
    color: #DBDB08;
    line-height: 1;
    font-family: $font-family-opensans;
    font-size: 26px;
    font-weight: bold;
    @include max-media($screen-6ls){
      font-size: 20px;
    }
    @include max-media($screen-xs){
      font-size: 16px;
    }
  }

}

.sp-content-info-primary{
  margin-right: 20px;
  @include max-media($screen-md){
    margin: 0 0 15px 0;

  }
}

// @ schedule
// ------------------------------------------------------------ */

.sp-content-schedule{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.sp-content-schedule-unit{

  &--first:before{
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 50px solid #6aa7cd;
  }

  &__inner{
    display: flex;
    flex-flow: row wrap;
    align-items: center;

  }
}

.sp-content-days {

  &__text {
    margin: 0;
    padding: 0;
    color: #DBDB08;
    font-family: $font-family-opensans;
    line-height: 1;
    font-size: 76px;
    font-weight: bold;

    @include max-media($screen-6ls){
      font-size: 54px;
    }
    @include max-media($screen-msm){
      font-size: 46px;
    }
    @include max-media($screen-xs){
      font-size: 30px;
    }
  }
}

.sp-content-week {
    margin: 0;
    padding: 0;
    display: inline-block;
    transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    line-height: 1;
    color: #DBDB08;
    font-family: $font-family-opensans;
    font-size: 26px;
    font-weight: bold;
  @include max-media($screen-6ls){
    font-size: 16px;
  }
  @include max-media($screen-xs){
    font-size: 14px;
  }
}

.sp-content-schedule-triangle{
  width: 0;
  height: 0;
  margin: 0 10px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #dbdb08;
}

// @ place
// ------------------------------------------------------------ */

.sp-content-place-label{
  margin: 0 0 10px;

  &__text{
    padding: 1px 13px;
    background: #DBDB08;
    color: $text-color;
    line-height: 1;
    font-family: $font-family-opensans;
    font-size: 16px;
    font-weight: bold;

    @include max-media($screen-6ls){
      font-size: 14px;
    }
  }
}


.sp-content-place-location{

  &__text{
    margin: 0 0 8px;
    padding: 0;
    color: #DBDB08;
    font-family: $font-family-opensans;
    line-height: 1;
    font-size: 38px;
    font-weight: bold;
    @include max-media($screen-6ls){
      font-size: 30px;
    }
    @include max-media($screen-xs){
      font-size: 22px;
    }
  }
}

