/*--------------------------------------------------------------//
// @ table
// ------------------------------------------------------------ */

$img_path: "./../../assets/img/";

/* ============================================================ //
// @ table01
// ============================================================ */

.table01 {
  width: 100%;

  th, td {
    padding: 12px 17px;
    border: $border-color-base 1px solid;
  }

  th {
    background: $brand-main-lighter;
    text-align: left;
    font-family: $font-family-notosans;
    font-weight: bold;
  }
}

/* ============================================================ //
// @ table02
// ============================================================ */

.table02 {
  width: 100%;
  th, td {
    padding: 12px 17px;
    border-top: $border-color-base 1px solid;
    border-bottom: $border-color-base 1px solid;
  }

  th {
    text-align: left;
    font-family: $font-family-notosans;
    font-weight: bold;
  }
}

/* ============================================================ //
// @ table03
// ============================================================ */

.table03 {
  width: 100%;
  @include max-media($screen-sm){
    display: block;
    width: 100%;
    max-width: 100%;
  }
  tbody,thead,tr,th,td{
    @include max-media($screen-sm){
      display: block;
      width: 100%;
      max-width: 100%;
    }
  }

  th, td {
    padding: 11px 17px;
    border: $border-color-base 1px solid;
  }

  th {
    width: 20%;
    min-width: 192px;
    background: $brand-main-lighter;
    text-align: left;
    font-family: $font-family-notosans;
    font-weight: bold;
    vertical-align: top;
  }
}

// 横スクロールテーブル
// ------------------------------------------------------------

//<div class="table-scroll-container">
//  <div class="table-scroll-container__inner">
//    <table>...
//  </div>
//</div>


.table-scroll-container {
  position: relative;

  &:before {
    //position: absolute;
    //top: 0%;
    //left: 50%;
    //margin-left: -100px;
    //transform: translate(-50%, -100%);
    //
    line-height: 1;
    font-family: 'Material Icons';
    content: "swap_horiz";
    color: $text-color-sub;
    font-size: 18px;
    vertical-align: middle;
  }

  &:after {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -100%);
    //
    display: block;
    content: "この表は横にスクロールができます";
    font-size: 11px;
    color: $text-color-sub;
  }

  &__inner {
    overflow: auto;
    white-space: nowrap;
    position: relative;
  }

  table:first-child {
    margin-top: 3px;
  }
}

//
// ------------------------------------------------------------

[class^=column-table] .entry-container{
  overflow-x: auto;
  margin-bottom: 30px;
  width: auto;
}