/*--------------------------------------------------------------//
// @ table
// ------------------------------------------------------------ */

$img_path: "./../../assets/img/";


// 横スクロールテーブル
// ------------------------------------------------------------

//<div class="table-scroll-container">
//  <div class="table-scroll-container__inner">
//    <table>...
//  </div>
//</div>


.table-scroll-container{
  position: relative;
  margin: 50px 0;
  &:before{
    position: absolute;
    top: 0%;
    left: 50%;
    margin-left: -100px;
    transform : translate(-50%,-100%);
    //
    line-height: 1;
    font-family: 'Material Icons';
    content: "swap_horiz";
    color: $text-color-sub;
    font-size: 18px;
    vertical-align: middle;
  }
  &:after{
    position: absolute;
    top: 0;
    left: 50%;
    transform : translate(-50%,-100%);
    //
    display: block;
    content: "この表は横にスクロールができます";
    font-size: 11px;
    color: $text-color-sub;
  }
  &__inner{
    overflow: auto;
    white-space: nowrap;
    position: relative;
  }
  table:first-child{
    margin-top: 3px;
  }
}
