/* ============================================================ //
// @ unit
// ============================================================ */

$img_path: "./../../assets/img/";

/*doc
---
title: テキストユニット
name: text-unit
category: unit
---


```html_example

<div class="text-unit">
  <p>それは当時無論そんな欠乏院という方の以上を解りたた。さきほど今で懊悩らは別にとんだ入会でたまでへ見るて得るまいからは戦争考えありたて、全くにはしたなかったな。</p>
  <p>それは当時無論そんな欠乏院という方の以上を解りたた。さきほど今で懊悩らは別にとんだ入会でたまでへ見るて得るまいからは戦争考えありたて、全くにはしたなかったな。</p>
</div>

```

*/

// text-unitには内容する要素のみスタイルを指定
// text-unit自体にはスタイルを付与しない


// @ entry-container時のタグ指定
// ------------------------------------------------------------ //

@mixin text-unit{
  margin-bottom: 2em;
}

.text-unit {
  @include text-unit;
}

.entry-container {
  p{
    @include text-unit;
  }
}


.text-unit > *:last-child {
  margin-bottom: 0;
}

@include max-media($screen-sm) {

}

// custom-layout01
// ------------------------------------------------------------


.custom-layout01{
  @include clearfix();
  margin: 5em 0;
  @include max-media($screen-md){
    margin: 2.5em 0;
  }
  @include max-media($screen-sm){
    margin: 2em 0;
  }
  &:first-child{
    margin-top: 0;
  }

  .custom-layout01-header,
  .custom-layout01-content{
    float: left;
  }
  .custom-layout01-media{
    float: right;
  }


  &.is-normal{
    flex-flow: row-reverse wrap;

    .custom-layout01-header,
    .custom-layout01-content{
      float: right;
    }
    .custom-layout01-media{
      float: left;
    }

  }

  .heading03 span{
    font-size: .6em;
    font-weight: normal;
    margin-left: .5em;
    color: $text-color-sub;
  }
}

.custom-layout01-media{
  text-align: center;
  &__img{
    width: 100%;
    max-width: 100%;
    vertical-align: bottom;
  }
  @include max-media($screen-md){
    margin-bottom: 20px;
  }
}

.custom-layout01-header,
.custom-layout01-media,
.custom-layout01-content{
  width: 49.2327366%;
  max-width: 49.2327366%;
  @include max-media($screen-md){
    width: 100%;
    max-width: 100%;
  }

}

.custom-layout01-header{
  &__title{
    margin-top: 0;
    margin:  0 0 25px;
  }
}


// custom-layout02
// ------------------------------------------------------------

.custom-layout02{
  @include clearfix();
  margin: 5em 0;
  @include max-media($screen-md){
    margin: 2.5em 0;
  }
  @include max-media($screen-sm){
    margin: 2em 0;
  }
  &:first-child{
    margin-top: 0;
  }

  .custom-layout02-header,
  .custom-layout02-content{
    float: left;
  }
  .custom-layout02-media{
    float: right;
  }


  &.is-normal{
    flex-flow: row-reverse wrap;

    .custom-layout02-header,
    .custom-layout02-content{
      float: right;
    }
    .custom-layout02-media{
      float: left;
    }
  }

  .heading03 span{
    font-size: .6em;
    font-weight: normal;
    margin-left: .5em;
    color: $text-color-sub;
  }
}

.custom-layout02-media{
  text-align: center;
  &__img{
    width: 100%;
    max-width: 100%;
    vertical-align: bottom;
  }
  @include max-media($screen-md){
    margin-bottom: 20px;
  }
}

.custom-layout02-header{
  &__title{
    margin:  0 0 25px;
    @include max-media($screen-md){
      margin:  0 0 20px;
    }
    @include max-media($screen-sm){
      margin:  0 0 15px;
    }
  }
}

//--------

.custom-layout02-header,
.custom-layout02-content{
  width: calc(100% - 25% - 20px);
  max-width: calc(100% - 25% - 20px);
  @include max-media($screen-sm){
    width: 100%;
    max-width: 100%;
  }
}

.custom-layout02-media{
  width: 25%;
  max-width: 25%;
  margin-top: 15px;
  @include max-media($screen-sm){
    width: 100%;
    max-width: 100%;
  }
}

