// @ wp-pagenavi
// ============================================================ */

$img_path: "./../../assets/img/";

.wp-pagenavi{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  > a,span{
    padding: 6px 12px;
    border-radius: 3px;
    border: solid 1px #ccc;
    margin: 0 5px;
  }
  a {
    &:active,
    &:link,
    &:visited,
    &:focus,
    &:hover {
      color: $text-color;
      text-decoration: none;
    }
    &:hover{
      background: #eee;
    }
  }
  .current{
    background: $brand-main;
    color: #fff;
    border: solid 1px $brand-main;
  }
}
