@charset "utf-8";
@use "./variables" as var;
@use "./mixins" as mix;
@use "./functions" as function;
@use './base/index';
@use './librarys';
@use './parts';
@use './pages';
@use './utility';

body {
  background: #000;
}
svg,path {
  position: fixed;
  left: calc(50% - 125px);
  top: calc(50% - 125px);
  width: 250px;
  height: 250px;
}