@use "../variables" as var;
@use "../mixins" as mix;
@use "../functions" as function;

.header{

  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  //
  width: 100%;
  max-width: 100%;
  height: var.$header_H + var.$header-primary-menu_H;
  background: transparent;

  &__inner{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    //
    width: 100%;
    height: var.$header_H;
    padding: 0 30px;
    background: var.$brand-main;
  }

}

.header-primary{
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
}

.header-logo{
  position: relative;
  top: 2px;
  width: 184px;

  g{
    fill: #fff;
  }
}

.header-message{
  position: relative;
  //
  margin: 0 20px;
  line-height: 1.2;
  font-size: 12px;
  font-weight: normal;
  color: #fff;
  
  &:before{
    display: block;
    content: '';
    width: 11px;
    height: 18px;
    //
    position: absolute;
    top: 50%;
    right: -5px;
    transform : translate(100%,-50%);
    //
    background-image: url('../images/common/header-message-icon.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }
}

// header-gnav
// ------------------------------------------------------------

.header-primary-menu{
  height: 100%;
  &__body{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
  &__item,
  &__item > a{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    line-height: 1.2;
    padding: 0 10px;
    &:active,
    &:link,
    &:visited,
    &:focus,
    &:hover{
      text-decoration: none;
      color: #fff;
    }
  }
  &__item{
    .en{
      margin-bottom: 2px;
      font-size: 18px;
      font-weight: bold;
      letter-spacing: 0.1em;
    }
    .ja{
      font-size: 12px;
      opacity: .8;
    }
  }
}

.header-secondary-menu{

  position: absolute;
  top: var.$header_H;
  right: -150%;
  height: var.$header-primary-menu_H;
  background: #222;
  transition: all .3s ease;
  
  &__body{
     display: flex;
     flex-flow: row wrap;
     justify-content: flex-end;
     align-items: center;
    height: 100%;
  }
  &__item,
  &__item > a,{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    font-size: 14px;
    padding: 0 15px;
    &:active,
    &:link,
    &:visited,
    &:focus,
    &:hover{
      text-decoration: none;
      color: #fff;
    }
  }
}

// アニメーション
// -------------------

.header-primary-menu__item:hover{
  background: #FF7F00;
  > .header-secondary-menu{
    right: 0;
  }
  > .header-secondary-menu > a{
    &:active,
    &:link,
    &:visited,
    &:focus,
    &:hover{
    }
  }
}