@use "../variables" as var;
@use "../mixins" as mix;
@use "../functions" as function;

.js-loading .wrapper,
.js-loading .outer_wrapper{
  position: fixed;
  z-index: var.$loading-layer;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  //
  height: 100vh;
  max-height: 100vh;
  overflow:hidden;
}

.loading-container{
  position: fixed;
  z-index: var.$loading-layer;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  //
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  //
  width: 100%;
  max-width: 100%;
  height: 100vh;
  max-height: 100vh;
  background: #fff;
}

// loading-unit
// ------------------------------------------------------------

.loading-unit{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.loading-unit__mark{
  width: 50px;
  svg {
    @include mix.transition-delay(.3s);
    width:100%;
    animation: rotation 2s infinite linear;
    .is-step3 &{

    }
  }
}

.loading-unit__type{
  position: relative;
  top: 5px;
  width: 270px;
  margin-left: 15px;
  .is-step1 &{
    width: 0;
    opacity: 0;
  }
  .is-step2 &{
    opacity: 0;
    animation: looding_type_step2 2s 1 linear forwards;
  }

  svg{

  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
@keyframes looding_type_step2 {
  from {
    width: 1px;
  }
  50%{
    width: 270px;
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}