/* ============================================================ //
// @ color
// ============================================================ */

//<h3 class="heading03">文字色クラス</h3>
//<table class="table02">
//<tbody>
//<tr>
//<th>color-base</th>
//<td>文字色を<span class="color-base">base</span>に指定する</td>
//</tr>
//<tr>
//<th>color-darker</th>
//<td>文字色を<span class="color-darker">darker</span>に指定する</td>
//</tr>
//<tr>
//<th>color-dark</th>
//<td>文字色を<span class="color-dark">dark</span>に指定する</td>
//</tr>
//<tr>
//<th>color-gray</th>
//<td>文字色を<span class="color-gray">gray</span>に指定する</td>
//</tr>
//<tr>
//<th>color-light</th>
//<td>文字色を<span class="color-light">light</span>に指定する</td>
//</tr>
//<tr>
//<th>color-lighter</th>
//<td>文字色を<span class="color-lighter">lighter</span>に指定する</td>
//</tr>
//<tr>
//<th>color-brand</th>
//<td>文字色を<span class="color-brand">brand</span>に指定する</td>
//</tr>
//<tr>
//<th>color-primary</th>
//<td>文字色を<span class="color-primary">primary</span>に指定する</td>
//</tr>
//<tr>
//<th>color-success</th>
//<td>文字色を<span class="color-success">success</span>に指定する</td>
//</tr>
//<tr>
//<th>color-info</th>
//<td>文字色を<span class="color-info">info</span>に指定する</td>
//</tr>
//<tr>
//<th>color-warning</th>
//<td>文字色を<span class="color-warning">warning</span>に指定する</td>
//</tr>
//<tr>
//<th>color-danger</th>
//<td>文字色を<span class="color-danger">danger</span>に指定する</td>
//</tr>
//</tbody>
//</table>


.color-base{
  color: $brand-main !important;
}
.color-darker{
  color: $brand-main-darker !important;
}
.color-dark{
  color: $gray-dark !important;
}
.color-gray{
  color: $gray !important;
}
.color-light{
  color: $brand-main-lighter !important;
}
.color-lighter{
  color: $brand-main-lighten !important;
}
.color-brand{
  color: $brand-main !important;
}
.color-primary{
  color: $brand-primary !important;
}
.color-success{
  color: $brand-success !important;
}
.color-info{
  color: $brand-info !important;
}
.color-warning{
  color: $brand-warning !important;
}
.color-danger{
  color: $brand-error !important;
}
  
  
/* default color */
.color-white{
  color: #fff !important;
}

.color-green{
  color: $swatch-green !important;
}
.color-blue{
  color: $swatch-blue !important;
}
.color-brawn{
  color: $swatch-brawn !important;
}
.color-red{
  color: $swatch-red !important;
}
.color-pink{
  color: $swatch-pink !important;
}
.color-pink {
  color: $swatch-pink !important;
}
.color-orange {
  color: $swatch-orange !important;
}
.color-yellow {
  color: $swatch-yellow !important;
}

/* add color */

.color-aqua{
  color: $swatch-aqua !important;
}

/* @ background color
// ------------------------------------------------------------ */

/* bootstrap color */

.bg-base{
  background-color: $brand-main !important;
}
.bg-darker{
  background-color: $brand-main-darken !important;
}
.bg-dark{
  background-color: $brand-main-darker !important;
}
.bg-gray{
  background-color: $gray !important;
}
.bg-light{
  background-color: $brand-main-lighter !important;
}
.bg-lighter{
  background-color: $brand-main-lighten !important;
}

.bg-primary{
  background-color: $brand-primary !important;
}
.bg-success{
  background-color: $brand-success !important;
}
.bg-info{
  background-color: $brand-info !important;
}
.bg-warning{
  background-color: $brand-warning !important;
}
.bg-danger{
  background-color: $brand-error !important;
}

/* default color */

.bg-white{
  background-color: #fff !important;
}

.bg-green{
  background-color: $swatch-green !important;
}
.bg-blue{
  background-color: $swatch-blue !important;
}
.bg-brawn{
  background-color: $swatch-brawn !important;
}
.bg-red{
  background-color: $swatch-red !important;
}
.bg-pink{
  background-color: $swatch-pink !important;
}
.bg-pink {
  background-color: $swatch-pink !important;
}
.bg-orange {
  background-color: $swatch-orange !important;
}
.bg-yellow {
  background-color: $swatch-yellow !important;
}

/* add color */

.bg-aqua{
  background-color: $swatch-aqua !important;
}

.bg-yellow {
  background-color: $swatch-skin !important;
}




