/*--------------------------------------------------------------//
// @ text align
// ------------------------------------------------------------ */

//<h3 class="heading03">テキスト関係汎用クラス</h3>
//<table class="table01">
//<tbody>
//<tr>
//<th>text-center  </th>
//<td><p>テキストを中央寄せに</p></td>
//</tr>
//<tr>
//<th>text-left</th>
//<td><p>テキストを左寄せに</p></td>
//</tr>
//<tr>
//<th>text-right</th>
//<td><p>テキストを右寄せに</p></td>
//</tr>
//<tr>
//<th>text-bold</th>
//<td><p>テキストを太文字に</p></td>
//</tr>
//<tr>
//<th>text-normal</th>
//<td><p>テキストを通常の太さに</p></td>
//</tr>
//<tr>
//<th>nowrap</th>
//<td><p>ソース中のホワイトスペースを無視</p>
//<p>ソース中の改行を1つの半角スペースとして表示</p>
//<p>ボックスサイズが指定されている場合にも自動改行しない</p></td>
//</tr>
//<tr>
//<th>text-overflow</th>
//<td><p>テキストが親ボックスを超過した場合、三点リーダを表示させる</p></td>
//</tr>
//</tbody>
//</table>


/* @ text state
// ------------------------------------------------------------ */


.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-normal {
  font-weight: normal !important;
}

.text-emphasis {
  color: #8cce4a;
  font-style: normal;
  font-weight: bold !important;

  @include max-media($screen-6ls) {
    color: $brand-accent01;
  }
}

.text-important {
  color: #ab86de;
  font-weight: bold !important;
}

.text-negation {
  text-decoration: line-through;
}

.nowrap {
  white-space: nowrap !important
}

.text-overflow {
  @include text-overflow();
}

/* ============================================================ //
// leter spage
// ============================================================ */

.ls-1{
  letter-spacing: -.1em;
}