/*--------------------------------------------------------------//
// @ text align
// ------------------------------------------------------------ */

//<h3 class="heading03">テキスト関係汎用クラス</h3>
//<table class="table01">
//<tbody>
//<tr>
//<th>text-center  </th>
//<td><p>テキストを中央寄せに</p></td>
//</tr>
//<tr>
//<th>text-left</th>
//<td><p>テキストを左寄せに</p></td>
//</tr>
//<tr>
//<th>text-right</th>
//<td><p>テキストを右寄せに</p></td>
//</tr>
//<tr>
//<th>text-bold</th>
//<td><p>テキストを太文字に</p></td>
//</tr>
//<tr>
//<th>text-normal</th>
//<td><p>テキストを通常の太さに</p></td>
//</tr>
//<tr>
//<th>nowrap</th>
//<td><p>ソース中のホワイトスペースを無視</p>
//<p>ソース中の改行を1つの半角スペースとして表示</p>
//<p>ボックスサイズが指定されている場合にも自動改行しない</p></td>
//</tr>
//<tr>
//<th>text-overflow</th>
//<td><p>テキストが親ボックスを超過した場合、三点リーダを表示させる</p></td>
//</tr>
//</tbody>
//</table>


    /* @ text state
    // ------------------------------------------------------------ */

.text-center{
  text-align: center;
}
.text-left{
  text-align: left;
}
.text-right{
  text-align: right;
}

.text-bold {
  font-weight: bold !important;
}

.text-normal {
  font-weight: normal !important;
}

.nowrap {
  white-space: nowrap !important
}

.text-overflow{
  @include text-overflow();
}
