// ============================================================ //
// @ footer
// ============================================================ //

$img_path: "./../../assets/img/";

.footer {
  width: 100%;
  min-width: $container-lg;
  border-top: 1px #ccc solid;

  @include max-media($screen-md) {
    min-width: 100%;
  }

  &__inner {
    margin: 0 auto;
    width: 100%;
    max-width: $container-lg;
    min-width: $container-lg;
    padding: 50px $container-padding-lg;

    @include max-media($screen-md) {
      max-width: 100%;
      min-width: 100%;
      padding: 30px $container-padding-md;
    }
    @include max-media($screen-sm) {
      padding: 30px $container-padding-sm;
    }
  }
}

.footer-primary {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  @include max-media($screen-md) {
    display: block;
  }

}

.footer-info {
  @include max-media($screen-md) {
    margin: 0 0 30px;
  }

  &__logo {
    width: 110px;
    max-width: 110px;
    margin: 0 0 20px;
    @include max-media($screen-md) {
      margin: 0 auto 20px;
    }
  }

  &__content {

    @include max-media($screen-md) {
      text-align: center;
    }

    p {
      margin: 0 0 20px;
    }

    &--company {
      font-size: 16px;
      font-weight: 600;

    }

    &--address {
      font-size: 13px;
    }

    &--tell {
      font-size: 13px;
    }
  }
}

.footer-nav {
  .fnav-unit {
    margin: 0 0 50px;
    display: flex;
    flex-flow: row wrap;
  }
}

.footer-copy {
  padding: 15px 0;
  text-align: center;
  border-top: 1px #ccc solid;
  p {
    margin: 0;
    padding: 0;
    font-size: 12px;
  }
}