/* ============================================================ //
// @ sidebar
// ============================================================ */

$img_path: "./../../assets/img/";

// @ sidebar section
// ------------------------------------------------------------ */

.sidebar-section {
  font-size: 0;
  &:not(:last-child) {
    margin: 0 0 30px;
  }
}

// @ rule
// ------------------------------------------------------------ */

.sidebar-rule {
  &--mov {
    margin-bottom: 10px;
  }
  img:not(:last-child) {
    margin-bottom: 10px;
  }

  &__unit{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
  }

  &__item {
    @include min-media($screen-lg-min) {
      width: 100%;
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }

    @include media($screen-md-min, $screen-md) {
      width: calc(100% / 3 - 5px);
      margin: 0 0 10px;
      &:not(:nth-child(3n)) {
        margin-right: 7.5px;
      }
    }

    @include max-media($screen-sm) {
      width: 100%;
      margin-right: 0;
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }
  &__item a{
    display: block;
    @include link-hover();
  }
}



.sidebar-sponsor {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;

  &__item {
    @include min-media($screen-lg-min) {
      width: 100%;
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }

    @include media($screen-md-min, $screen-md) {
      width: calc(100% / 3 - 5px);
      margin: 0 0 10px;
      &:not(:nth-child(3n)) {
        margin-right: 7.5px;
      }
    }

    @include max-media($screen-sm) {
      width: 50%;
      margin-right: 0;
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }
  &__item a{
    display: block;
    @include link-hover();
  }
}

.sidebar-host{
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;

  &__item {
    @include min-media($screen-lg-min) {
      width: 100%;
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }

    @include media($screen-md-min, $screen-md) {
      width: calc(100% / 3 - 5px);
      margin: 0 0 10px;
      &:not(:nth-child(3n)) {
        margin-right: 7.5px;
      }
    }

    @include max-media($screen-sm) {
      width: 50%;
      margin-right: 0;
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }
  &__item a{
    display: block;
    @include link-hover();
  }
}